<div class="main-container">
    <div class="heading display-4 text-start"
    [ngClass]="{'color-dark':theme.DarkModeSelected}">
        Proficiency
        <span>
            <img src="../../../assets/Icons/graph.svg" alt="">
        </span>
    </div>

    <div class="prof-tab" *ngFor="let profTab of values.proficiency">
        <div class="icon-title justify-content-start align-items-center">
            <div class="box ">
                <img src="{{profTab.iconsPath}}" alt="" class="icon">
            </div> 
            <div class="box text-start prof-title fs-4"> 
                {{profTab.skillName}}
            </div>
            <div class="hidden experties-in-skills fs-6">
                <span><</span>
                <span>{{profTab.expertieString}}</span>
                <span>/></span>
            </div>
        </div>
        <div class="row prof-meter-range rounded-pill">
            <div 
            [style.width.%]="profTab.expertiesInPercentage" 
            class="prof-meter "></div>
        </div>
    </div>
</div>