

<div class="main-container">
    <div class="box-1 info-container">
        <div class="text-box display-4 heading">
            <span [ngClass]="{'color-dark':theme.DarkModeSelected}">Hi all, I'm Prafull</span>
              <span>
                <img src="../../../assets/Icons/waving-hand.png" alt="" 
                id="waving-hand" class="mt-0"/>
              </span> 
          </div>
          <div class="text-box text-center">  
            <p class="sub-heading fs-4">
                {{values.introFirstPart}}
                <span>
                    <img src="../../../assets/Icons/bxl-java.svg" class="img-icon" alt="">
                </span> /
                <span>
                    <img src="../.././../assets/Icons/bxl-python-color.svg" class="img-icon" alt="">
                </span> /
                <span>
                    <img src="../../../assets/Icons/mongodb.svg" class="img-icon" alt="">
                </span> /
                <span>
                    <img src="../../../assets/Icons/bxl-angular.svg" class="img-icon" alt="">
                </span>
                {{values.introSecondPart}}
            </p>
          </div> 
          <div class="btns">
              <a href="#contact">
                <div class="btn contact mx-2">Contact Me</div>
              </a>
            <a href="{{values.downloadResumeLink}}">
                <div class="btn resume mx-2">Download My Resume</div>
            </a>
            
          </div>
    </div>
    <div class="box-2 hero-image">
            <img src="../../../assets/Icons/man-developing-website-on-desk-1721885-0.svg" alt="">
    </div>
</div>


<!-- 

    <div class="container-fluid intro-box border border-danger">
    <div class="box border border-dange">
        <div class="display-2 heading">
          <span>Hi all, I'm Prafull</span>
            <span>
              <img src="../../../assets/Icons/waving-hand.png" alt="" 
              id="waving-hand" class="mt-0"/>
            </span> 
        </div>
          
          <p class="sub-heading fs-4">
              {{values.introFirstPart}}
              <span>
                  <img src="../../../assets/Icons/bxl-java.svg" alt="">
              </span> /
              <span>
                  <img src="../.././../assets/Icons/bxl-python-color.svg" alt="">
              </span> /
              <span>
                  <img src="../../../assets/Icons/mongodb.svg" alt="">
              </span> /
              <span>
                  <img src="../../../assets/Icons/bxl-angular.svg" alt="">
              </span>
              {{values.introSecondPart}}
          </p>
    </div>
    <div class="box hero-image">
        <img src="../../../assets/Icons/man-developing-website-on-desk-1721885-0.svg" alt="">
    </div>
</div>

 -->
