@import "../../../assets/SCSS/fonts.scss";
@import "../../../assets/SCSS/color.scss";
@import "../../../assets/SCSS/animations.scss";

@mixin shadow{
    box-shadow: rgba(81, 81, 179, 0.25) 0px 50px 100px -20px,
                 rgba(41, 49, 98, 0.3) 0px 30px 60px -30px, 
                 rgba(17, 18, 97, 0.35) 0px -2px 6px 0px inset;
}


// Default Values : Start
.title{
    @include title-font;
}

.project-box-layout{
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: first baseline;
    align-items: baseline;
    gap: 1em;

    padding-top: 2rem;
}

.project-box{
    padding: .5rem;
    min-width: 20rem;
    border: 1px solid $primary;
    border-radius: 10px;
    box-shadow: rgba(81, 75, 139, 0.637) 0px 1px 3px,
                 rgba(81, 75, 139, 0.24) 0px 1px 2px;

    .project-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        .project-icon{
            width: 1.5em;
            margin-right: .5em;
        }

        .project-name{
            @include title-font;
        }

        .github{
            width: 1.5em;
        }
        .git-and-launch-icons{

            img{
                width: 1.5em;
            }
        }

    }

    .project-desc{
        @include para-font;
    }
}

@media (hover) {
    .project-box{
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .project-box:hover{

        border: 1px solid $primary;
        .project-name{
            text-decoration: underline solid;
        }
    }
}

.project-box:focus{
    background-color: red;
}


.color-dark{
    color: #825BEA
}

@media (min-width:768px) {
    .project-box-layout{
        grid-template-columns: 1fr 1fr; 
    }

}
// @media (min-width:768px) {
//     .project-box-layout{
//         // gap: 0;
//         grid-template-columns: 1fr 1fr; 
//     }

// }

@media (min-width:1200px) {
    .project-box-layout{
        grid-template-columns: 1fr 1fr 1fr; 
    }

}

