<div class="main-container">
    <div class="box-1 text-box ">
        <div class="display-4 heading">
            <span [ngClass]="{'color-dark':theme.DarkModeSelected}">What I do</span>
              <span>
                <img src="../../../assets/Icons/robo-face.png" alt="" 
                id="robo-face" class=""/>
              </span> 
          </div>
          <div class="sub-text fs-4">
              <div class="main">
                <span>{{values.whatIDoMain}}</span>
              </div>
              <div class="icons">
                  <img src="../../../assets/Icons/figma.svg" alt="figma">
                  <img src="../../../assets/Icons/githuub.svg" alt="github">
                  <img src="../../../assets/Icons/bxl-docker.svg" alt="docker">
                  <img src="../../../assets/Icons/bxl-sass.svg" alt="SCSS">
              </div>
              <div class="sub">
                <span>{{values.whatIDosub}}</span>
              </div>
            
            
          </div>
    </div>
    <div class="box-2">
        <img src="../../../assets/Icons/startup-1721895-0.svg" alt="">
    </div>
</div>