<div id="main-container" [ngClass]="{ dark: themeService.DarkModeSelected }">
  <app-navbar></app-navbar>
  
  <div class="container" id="intro">
    <app-intro></app-intro>
  </div>
  <div class="container" id="whatIdo">
    <app-what-ido></app-what-ido>
  </div>
  <div class="container" id="skills">
    <app-skill></app-skill>
  </div>
  <div class="container" id="proficiency">
    <app-proficiency></app-proficiency>
  </div>
  <div class="container" id="projects">
    <app-projects></app-projects>
  </div>
  <div class="container" id="education">
    <app-education></app-education>
  </div>
  <div class="container" id="reachout">
    <app-reach-out></app-reach-out>
  </div>


</div>
 